header {
  padding: 1rem;
  display: flex;
  background-color: #eee;
}

nav {
  display: flex;
  align-items: center;
}

a {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;

  &:hover {
    background-color: rgb(210, 252, 238);
  }
}

.router-link-active {
  background-color: rgb(189, 255, 232);
}