<form class="post-form" (ngSubmit)="onSubmit()">
  <p>
    <mat-form-field appearance="standard" class="post-form__control">
      <mat-label>Title</mat-label>
      <input name="title" matInput placeholder="Title of the post" [(ngModel)]="post.title" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard" class="post-form__control">
      <mat-label>Body</mat-label>
      <textarea matInput name="body" rows="10" [(ngModel)]="post.body"></textarea>
    </mat-form-field>
  </p>
  <p>
    <button mat-raised-button>Save</button>
  </p>
</form>
